* {
    padding: 15px;
}

ion-content {
    --background: rgb(5, 5, 5);
    .container-title {
        color: white;
        ion-title {
            padding-bottom: 0;
            font-size: 1.8em;
        }
        ion-label {
            font-size: 0.9em;
        }
        .container-description {
            padding: 0;
            margin: 10px 0 0 0;
            ion-text {
                display: block;
                padding: 0;
                font-size: .9em;
            }
        }
    }
}